<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="lis" value="Data Source=183.194.100.138; Database=RedNobleInspection; User ID=sa; Password=!@#$%qwert12345; MultipleActiveResultSets=True"/>
  </appSettings>
</configuration>